body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 64px;
    height: 64px;
    font-size: 24px;
    border: solid 1px black;
    background-color: #eeeeee;
}

button:hover {
    background-color: #cccccc;
}

.calculator {
    border: 4px solid black;
    padding: 16px;
    font-size: 32px;
}

.display {
    padding: 2px;
    height: 64px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.row {
    display:flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
}

.operators {
    display:flex;
    flex-direction: column;
    gap: 8px;
}